In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (roc_auc_score, auc, accuracy_score)
import sys
sys.path.append('../scripts')
from load_data import load_data

In [6]:
df = load_data()

In [30]:
df.head(2)

,LibraryName,DiseaseState,Age,Sex,BMI,Blautia,Faecalibacterium,Eubacterium,Bifidobacterium,Lachnospiracea,...,Alkanindiges,Azonexus,Mesorhizobium,Fervidicella,Succinimonas,Sulfuritalea,Yokenella,Mangrovibacter,Denitratisoma,Limibacter
0,asd_son.F-021C1A,ASD,NaN,male,NaN,0.005546,0.104760,0.0,0.000154,0.052842,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,asd_son.F066-C2U,H,NaN,female,NaN,0.004020,0.016883,0.0,0.001876,0.028139,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_h = df[df['DiseaseState'] == 'H']
df_h.head()
df_h = df_h.drop(['Age', 'BMI'], axis = 1)
s = df_h.describe()
s = s.T['mean']

In [ ]:
for i in range(5, len(df.columns)):
    df[df.columns[i] + '_changerate'] = df[df.columns[i]] - s[i - 5]

In [53]:
df.head(5)

,LibraryName,DiseaseState,Age,Sex,BMI,Blautia,Faecalibacterium,Eubacterium,Bifidobacterium,Lachnospiracea,...,Alkanindiges_changerate,Azonexus_changerate,Mesorhizobium_changerate,Fervidicella_changerate,Succinimonas_changerate,Sulfuritalea_changerate,Yokenella_changerate,Mangrovibacter_changerate,Denitratisoma_changerate,Limibacter_changerate
0,asd_son.F-021C1A,ASD,NaN,male,NaN,0.005546,0.104760,0.0,0.000154,0.052842,...,0.0,-1.257594e-07,-1.984933e-07,0.0,0.0,-4.869436e-07,0.0,-3.680297e-07,0.0,-0.000002
1,asd_son.F066-C2U,H,NaN,female,NaN,0.004020,0.016883,0.0,0.001876,0.028139,...,0.0,-1.257594e-07,-1.984933e-07,0.0,0.0,-4.869436e-07,0.0,-3.680297e-07,0.0,-0.000002
2,asd_son.F066-C1A,ASD,NaN,female,NaN,0.013602,0.031154,0.0,0.002194,0.036419,...,0.0,-1.257594e-07,-1.984933e-07,0.0,0.0,-4.869436e-07,0.0,-3.680297e-07,0.0,-0.000002
3,asd_son.F065-C1A,ASD,NaN,male,NaN,0.026846,0.015302,0.0,0.001879,0.031409,...,0.0,-1.257594e-07,-1.984933e-07,0.0,0.0,-4.869436e-07,0.0,-3.680297e-07,0.0,-0.000002
4,asd_son.F064-C1A,ASD,NaN,male,NaN,0.018423,0.010148,0.0,0.000156,0.007650,...,0.0,-1.257594e-07,-1.984933e-07,0.0,0.0,-4.869436e-07,0.0,-3.680297e-07,0.0,-0.000002

In [39]:
s[4 - 2]

0.0007732747207887417